.select {
  padding: 10px 0px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  background-color: #000;
  color: #fff;
  margin: 20px 0px;
}
