.container {
  .backdrop__banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
  }
  .banner {
    min-height: 100vh;
    background: url('/images/home_bg.jpg');
    background-position: center center;
    background-size: cover;

    .banner__content {
      z-index: 3;

      .company_name {
        h2 {
          font-size: 2.4rem !important;
        }
      }
      .meals {
        font-size: 21px;
      }
    }
  }
  .about_us {
    background: url('/images/section_bg.jpg');
    background-position: center center;
    background-size: cover;

    padding: 30px 0;

    .selection_cards {
      text-align: center;
    }
  }
}

.note_for_otsimo {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .container {
    .banner {
      min-height: 100vh;
      background: url('/images/home_bg.jpg');
      background-position: center center;
      background-size: cover;

      .banner__content {
        z-index: 3;

        .company_name {
          h2 {
            font-size: 5rem !important;
          }
        }
        .meals {
          font-size: 1.5rem;
        }
      }
    }
  }

  .about_us {
    background: url('/images/section_bg.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-size: 24px;
    padding: 30px 0;

    .selection_cards {
      text-align: center;
    }
  }

  .note_for_otsimo {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
}
